.idea/.name
.idea/composerJson.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/clegg.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pimcore-plugin-sendgrid.iml
.idea/workspace.xml
