<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <plugin>
        <pluginName>Sendgrid</pluginName>
        <pluginDescription><![CDATA[SendGrid Integration]]></pluginDescription>

        <!-- meta data -->
        <pluginVersion>1.0</pluginVersion>
        <pluginRevision>1</pluginRevision>
        <pluginBuildTimestamp>0</pluginBuildTimestamp>

        <!-- put in the URL for the plugin configuration eg. /plugin/SearchRestaurants/admin/index -->
        <pluginIframeSrc />

        <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
        <pluginClassName>\Sendgrid\Plugin</pluginClassName>

        <!-- include paths relative to plugin-directory -->
        <pluginIncludePaths>
            <path>/Sendgrid/lib</path>
        </pluginIncludePaths>

        <!-- namespaces to register with autoloader-->
        <pluginNamespaces>
            <!-- NOTE THE LOWERCASE g DUE TO PIMCORE PLUGIN INSTALLER AUTOMATICALLY TAKING THE PLUGIN FOLDER NAME FROM THE COMPOSER NAME :-) -->
            <namespace>Sendgrid</namespace>
        </pluginNamespaces>

        <!-- js files with path relative to plugin-directory -->
        <pluginJsPaths />

        <!-- css files with path relative to plugin-directory -->
        <pluginCssPaths />
        
    </plugin>
</zend-config>
